<template>
  <div>
    <!-- Map -->
    <gmap-map :center="center" :zoom="12" :options="{styles: styles}" style="width: 100%; height: 500px" ref="map">
      <gmap-marker
      v-if = "position"
      :position="position"
      :clickable="true"
      :draggable="true"
      @click="center=position"
      @position_changed="updatePlace($event)"></gmap-marker>
    </gmap-map>

    <!-- Controls -->
    <div class="panel-body">
        <a id="delete-button" class="btn btn-block btn-danger"
          v-if="position.lat"
          @click="removePath()"
        >
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Удалить елемент
        </a>
        <a id="getCoords" class="btn btn-block btn-primary"
        v-if="position == 0"
        @click="addPath()"
        >
          <i class="fa fa-globe" aria-hidden="true"></i>
          Создать елемент
        </a>
    </div>

    <!-- Textarea -->
    <div>
      <textarea
        :value="positionGeojson"
        class="form-control" rows="3" style="display:none;" name="geoData" readonly>
      </textarea>
    </div>
  </div>
</template>

<script>

  Vue.use( VueGoogleMaps, {
    load: {
      key: 'AIzaSyA_gIIvCwueyCTy6Rwn1IX6N4s4K_12jAM',
      v: '3',
      libraries: 'places,drawing',
    }
  });

  var grayStyle = require('./style/gray.json'); //with path

  export default {
    props: ['geojson'],

    data () {
      return {
        zoom: 13,
        center: {lat: 46.96153979413719, lng: 31.98896884918213},
        options: { strokeColor: "#d50000", strokeOpacity: 0.5, strokeWeight: 1, fillColor: "#d50000", fillOpacity: 0.35},
        styles: grayStyle,
        position: [],
        positionGeojson: {},
      }
    },

    watch: {
      position: _.throttle(function (position) {
        if (position) {
          this.position = position
          this.positionGeojson = JSON.stringify(this.position)
        }
      }, 1000)
    },

    created() {
      if (this.geojson != 'none') {
        this.position = this.geojson
        this.positionGeojson = JSON.stringify(this.position)
      }
    },

    computed: {
      polygonsPath: function () {
        let polygonsPath = [];
          this.polygons.forEach(function(polygon) {
            polygonsPath = JSON.parse(polygon.geoData)
          });
        return polygonsPath
      }
    },

    methods: {
      updatePlace(what) {
        this.position = {
              lat: what.lat(),
              lng: what.lng()
        }
      },

      addPath() {
        var bounds = this.$refs.map.$mapObject.getBounds()
        var center = bounds.getCenter()
        this.position = center
      },

      removePath() {
        this.position = 0
      }
    }
  }
</script>
