<template>
    <gmap-map ref="map"
      :center="center"
      :zoom="zoom"
      :options="{styles: styles}"
      style="width: 100%; height: 100%; position: absolute;"
    >
      <slot></slot>
    </gmap-map>
</template>

<script>
  Vue.use( VueGoogleMaps, {
    load: {
      key: 'AIzaSyA_gIIvCwueyCTy6Rwn1IX6N4s4K_12jAM',
      v: '3',
      libraries: 'places,',
    }
  });
  var grayStyle = require('./style/gray.json'); //with path
  export default {
    props: ['center'],
    data () {
      return {
        zoom: 13,
        styles: grayStyle,
        zones:[],
      }
    }
  }
</script>

