<template>
<div>
    <gmap-polygon :paths="this.paths" :clickable="true"
    :options="{ strokeColor: this.color, strokeOpacity: 0.8, strokeWeight: 1, fillColor: this.color, fillOpacity: 0.3}"
    ref="polygon" @click="opened = !opened">
    </gmap-polygon>
    <gmap-info-window :opened='opened' :position="this.paths[0]" :content='this.content.discription' @closeclick="opened=false"></gmap-info-window>
</div>
</template>

<script>
  export default {
    props: {
      paths: Array,
      color: String,
      content: Object,
    },
    data () {
      return {
        opened: false,
        center: {lat:46, lng:31},
      }
    },
    methods: {
      pathsCenter: function () {
        var bounds = new google.maps.LatLngBounds();
        var i;
        for (i = 0; i < this.paths.length; i++) {
          bounds.extend(this.paths[i]);
        }
        opened = !opened
      }
    }
  }
</script>
