<template>
    <gmap-marker :position="this.position" :clickable="true" :icon="icon" @click="opened=!opened" >
        <gmap-info-window :opened='opened' :position="this.position" :content='this.content.discription' @closeclick="opened=false"></gmap-info-window>
    </gmap-marker>
</template>

<script>
  export default {
    props: ['position','icon','content'],
    data () {
      return {
        opened: false
      }
    }
  }
</script>
