<template>
  <div>
    <!-- Map -->
    <gmap-map :center="center" :zoom="12" :options="{styles: styles}" style="width: 100%; height: 500px" ref="map">

      <gmap-polygon v-if="paths" :paths="paths" :editable="true" @paths_changed="updateEdited($event)"
          @rightclick="handleClickForDelete"
          ref="polygon">
      </gmap-polygon>

      <gmap-polygon v-if="zones" :paths="zones" :editable="false" :options=options
          ref="polygon">
      </gmap-polygon>
    </gmap-map>

    <!-- Controls -->
    <div class="panel-body">
        <a id="delete-button" class="btn btn-block btn-danger"
          v-if="paths.length > 0"
          @click="removePath()"
        >
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Удалить елемент
        </a>
        <a id="getCoords" class="btn btn-block btn-primary"
        v-if="paths == 0"
        @click="addPath()"
        >
          <i class="fa fa-globe" aria-hidden="true"></i>
          Создать елемент
        </a>
    </div>
    <div>
      <textarea
        :value="polygonGeojson"
        class="form-control" rows="3" name="geoData" style="display:none;" readonly
      >
      </textarea>
    </div>
  </div>
</template>

<script>

  Vue.use( VueGoogleMaps, {
    load: {
      key: 'AIzaSyA_gIIvCwueyCTy6Rwn1IX6N4s4K_12jAM',
      v: '3',
      libraries: 'places,drawing',
    }
  });

  var grayStyle = require('./style/gray.json'); //with path

  export default {
    props: ['geojson'],

    data () {
      return {
        zoom: 13,
        center: {lat: 46.96153979413719, lng: 31.98896884918213},
        options: { strokeColor: "#d50000", strokeOpacity: 0.5, strokeWeight: 1, fillColor: "#d50000", fillOpacity: 0.35},
        styles: grayStyle,
        paths: [],
        zones: [],
        polygonGeojson: {},
      }
    },

    watch: {
      paths: _.throttle(function (paths) {
        if (paths) {
          this.paths = paths
          this.polygonGeojson = JSON.stringify(this.paths)
        }
      }, 1000)
    },

    created: function () {
      if (this.geojson != 'none') {
        this.paths = this.geojson
        this.polygonGeojson = JSON.stringify(this.paths)
        let zones = []
        axios.get('/api/zones/all').then(function (response) {
          response.data.forEach(function(object) {
            zones.push(JSON.parse(object.geoData))
          })
        })
        this.zones = zones
      }
    },

    computed: {
      polygonsPath: function () {
        let polygonsPath = [];
          this.polygons.forEach(function(polygon) {
            polygonsPath = JSON.parse(polygon.geoData)
          });
        return polygonsPath
      }
    },

    methods: {
      updateEdited: function (mvcArray) {
        let paths = [];
            for (let i=0; i<mvcArray.getLength(); i++) {
              let path = [];
              for (let j=0; j<mvcArray.getAt(i).getLength(); j++) {
                let point = mvcArray.getAt(i).getAt(j);
                path.push({lat: point.lat(), lng: point.lng()});
              }
              paths.push(path);
            }
            this.paths = paths;
      },
      addPath: function () {
        var bounds = this.$refs.map.$mapObject.getBounds()
        var northEast = bounds.getNorthEast()
        var southWest = bounds.getSouthWest()
        var center = bounds.getCenter()
        var degree = 3;
        var f = Math.pow(0.66, degree)
        this.paths = [
          { lng: center.lng(), lat: (1-f) * center.lat() + (f) * northEast.lat() },
          { lng: (1-f) * center.lng() + (f) * southWest.lng(), lat: (1-f) * center.lat() + (f) * southWest.lat() },
          { lng: (1-f) * center.lng() + (f) * northEast.lng(), lat: (1-f) * center.lat() + (f) * southWest.lat() },
        ]
      },

      removePath: function () {
        this.paths = []
      },

      handleClickForDelete($event) {
        if ($event.vertex) {
          this.$refs.polygon.$polygonObject.getPaths()
            .getAt($event.path)
            .removeAt($event.vertex)
        }
      }
    }
  }
</script>
