<template>
  <div style="width: 100%; height: 100%; position: absolute;">
      <v-map :zoom="this.zoom" :center="this.center">
        <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
        <slot></slot>
      </v-map>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        zoom: 13,
        center: [46.96153979413719, 31.98896884918213],
        url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>',
      }
    }
  }
</script>

<style>
    @import "~leaflet/dist/leaflet.css";
</style>
