<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Add an button
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa " aria-hidden="true" v-bind:class="button.icon"></i></span>
                <input class="form-control" placeholder="fa-map" v-model="button.icon">
                <div class="input-group-btn">
                  <a target="_blank" href="http://fontawesome.io/icons/" class="btn btn-default"><i>?</i></a>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Title" v-model="button.title">
            </div>
            <div class="form-group">
              <v-select multiple v-model="button.layers" :options="layers" placeholder=""></v-select>
            </div>
            <button class="btn btn-primary" @click="addbutton">Submit</button>
          </div>
        </div>
      </div>
      
      <!-- show the buttons -->
      <div class="col-sm-6">
        <div class="list-group" v-for="(button, index) in buttons">
          <div class="btn-group" role="group">
            <a type="button" class="btn btn-default">
              <i class="fa " aria-hidden="true" :class="button.icon"></i>
            </a>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li v-for="layer in button.layers"><a><b>{{ button.title }}</b></a></li>
                <li v-for="layer in button.layers"><a href="#">{{ layer.label }}</a></li>
              </ul>
            </div>
            <button class="btn btn-danger" @click="deletebutton(index)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="data ">
      {{ buttons }}
    </div>
  </div>
</template>

<script>
export default {
  props: ['layers'],

  data () {
    return {
      button: { title: 'Title', icon: 'fa-map', layers: '' },
      buttons: [],
    }
  },
  computed: {
    
  },
  methods: {
    addbutton: function() {
      if(this.button.title) {
        // this.button.layers.forEach(function(value, index) {delete value.label;});
        var array = this.button;
        // var array = JSON.parse(JSON.stringify(this.button));
        // array.layers.forEach(function(value, index) {delete value.label;});
        this.buttons.push(array);
        this.button = { title: 'Title', icon: 'fa-map', layers: '' };
      }
    },
    deletebutton: function(index) {
      if(confirm("Удалить группу слоев?")) {
        this.buttons.splice(index, 1);
      }
    }
  }
}
</script>