
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#app{
    width: 100%;
    position: absolute;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
}
.toolbox{
  position: absolute;
  width: 400px;
  z-index: 999;
  top: 10px;
  left: 50%;
  margin-left: -180px;
  opacity: 0.9;

  .btn-group{
    margin-bottom: 1px;
  }

  .btn{
    border-radius: 0px;
    padding: 4px 8px;
  }

  .dropdown-menu{
    border-radius: 0px;
    opacity: 0.95;
  }

  input{
    height: 32px;
    border: 1px solid #ccc;
    border-style: solid;
    border-left: currentColor;
    padding: 6px;
    width: 150px;
  }
}
.pac-container{
  width:200px!important
}
footer{
  position: absolute;
    width: 300px;
    height: 15px;
    z-index: 999;
    bottom: 0px;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    color: rgb(68, 68, 68);
}
